* {
  background: linear-gradient(90deg, rgba(31,0,34,1) 0%, rgba(2,31,51,1) 100%);
}

body {
  text-align:center;
  justify-content:center;
}
p {
  font-size:150px;
  font-family: "Nasalization", sans-serif;
  color:white;
}
@font-face {
  font-family: "Nasalization";
  src: url('myfont.otf') format("opentype");
}
